{% extends 'base.html' %}
{% block title %}图片下载{% endblock %}
{% block content %}
<body>
<br/><br/><br/><br/>
{% if eorror != None %}
    <div class="text-center">
        {{ error }}
    </div>
{% endif %}
<br/><br/><br/><br/>
<form  method="GET" action="{{ url_for('download_page', username=request.args.username) }}">
    <div class="text-center">
        <h3>
            <label for="text_number" id="text_number">选择文件数:</label>
            <label><input type="hidden" name="username" id="name" value="{{ request.args.username }}"></label>
            &nbsp;&nbsp;
            <label><input type="radio" name="number" id="text_number" value="10" checked/>10</label>
            &nbsp;
            <label><input type="radio" name="number" id="text_number" value="100"/>100</label>
            &nbsp;
{#            <label><input type="radio" name="number" id="text_number" value="1000"/>1000</label>#}
            &nbsp;
            <label><input type="hidden" name="number" id="text_number" value="全部" /></label>
        </h3>
    </div>
<br/><br/>
    <div class="text-center">
        <h3>
            <label for="order" id="order">选择文件的顺序:</label>
            &nbsp;&nbsp;
            <label><input type="radio" name="order" id="order" value="顺序" checked/>顺序
            &nbsp;
            <input type="number" name="begin" id="begin" step="1" min="0" max="3000" value="0"/></label>
            &nbsp;
            <label><input type="radio" name="order" id="order" value="随机"/>随机</label>
        </h3>
    </div>
<br/><br/>

    <div class="text-center">
        <button type="submit" >下载</button>
    </div>
</form>
</body>
{% endblock %}

