<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载成功</title>
</head>
<body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="text-center">
        <label>
            <meta http-equiv="refresh" content="3;url=http://127.0.0.1:5000/pre_download/?username={{ username }}"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ successful }}, 3秒后将会跳转到原页面！！！</span>
        </label>
    </div>
</body>
</html>